body {
    background: hsl(212, 45%, 89%)
}

.attribution {
    font-size: 11px; 
    text-align: center; 
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    padding-top: 10vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.wrapper {
    padding: 15px;
    width: 280px;
    background-color: white;
    border-radius: 20px;
}

.qr img {
    width: 100%;
    border-radius: 10px;
}

.text {
    color: rgb(25, 40, 70);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 25px;
}

.text h1 {
    font-size: x-large;
    font-weight: 700;
}

.text h2 {
    font-size: medium; 
    font-weight: 200;
}